pandas
numpy
scikit-learn
mlflow
fastapi
uvicorn
pydantic
prometheus-fastapi-instrumentator
joblib
catboost
xgboost
lightgbm
matplotlib
seaborn
imbalanced-learn
pytest
pytest-cov
black
flake8
pylint
requests
httpx
